@page
@model ProgPoe3._1.Pages.ModulesModel
@{
    Layout = "_Layout";
    <link href="~/css/UserStudy.css" rel="stylesheet" />
}
<h4>Hello @Model.username</h4>
<h2>All Modules</h2>
<div class="outerDiv">
    <a  class="btn btn-primary"  href="/CreateNewModule">Create New</a>
</div>
<table class="table">

    <thead>
        <tr>
            <td>Code</td>
            <td>Project Name</td>
            <td>Current Weekly hrs</td>
            <td>Semester hrs</td>
            <td>Remaining Weekly hrs</td>
            <td>Remaining Semester hrs</td>
            <td>Number of credits</td>
            <td>Class hrs</td>
            <td>Start Date</td>
            <td>Weeks</td>

        </tr>
    </thead>
    <tbody>

        @foreach (var pr in Model.ModulesList)
        {
        <tr>
            <td>@pr.ModuleCode</td>
            <td>@pr.ModuleName</td>
            <td>@pr.weeklyHrsDone / @String.Format("{0:0.00}", pr.weeklySelfStudy) </td>
            <td>@pr.TotalHrsDone / @String.Format("{0:0.00}", pr.TotalSelfStudy)</td>
            <td>@String.Format("{0:0.00}", pr.weeklyRemainingHrs)</td>
            <td>@String.Format("{0:0.00}", pr.TotalRemainingHrs)</td>
            <td>@pr.NumOfCredits</td>
            <td>@pr.HoursPerWeek</td>
            <td>@pr.SemesterStartDate</td>
            <td>@pr.SemesterWeeks</td>
            <td>
                <a class="btn btn-primary" href="/Study?ModuleCode=@pr.ModuleCode">Study</a>

            </td>
            <td>
                <a class="btn btn-success" href="/Study?ModuleCode=@pr.ModuleCode">Stats</a>

            </td>
        </tr>

        }
    </tbody>
</table>
